    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Brudge</h2>
		<p id="aboutPara1">Contract bridge is super fun. But it's hard to get started. Brudge shows you how to play by dealing hands and giving easy-to-follow instructions.</p>
		<p id="aboutPara2">How does it work? Brudge can deal real playing cards in a specific order. This means that you can play along with Brudge's instructions and start playing immediately.</p>
		<a href="#example" class="btn btn-circle page-scroll"
		   id="aboutClick">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
            </div>
        </div>
    </section>
