    <!-- Download Section -->
    <section id="bridge" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Bridge Features</h2>
	  <ul class="unstyled">
	    <li>Four players</li>
	    <li>Trick-taking game (like hearts or spades)</li>
	    <li>Invented by Harold Vanderbilt in 1925 on a transatlantic cruise.</li>
	    <li>Total play time: around an hour.</li>
	    <li>2-vs-2: you and your partner need to cooperate to win.</li>
	    <li>You need to know when to push your luck, and figure out what your opponents are holding.</li>
	    <li>Some people play for money to make things interesting.</li>
	    </ul>
        </div>
	</div>
    </section>
