    <!-- Download Section -->
    <section id="example" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
              <h2>Sign Up</h2>

	      Brudge is still in development. Since it's a hobby project, I need to know if people are interested before I spend a lot of time on it. If you are interested in getting a free download when it's all finished, fill out the form below.

    <script type="text/javascript">
      function doSomething() {
          var googleForm = $(window).jqGoogleForms({"formKey": "1vHArFLPgL_Wew8eB0bu-_UOsyDlZurquQL4H8I-ZqRU"});

      var email = document.getElementById('email').value;
      var player = document.getElementById('player').value;
      var house = document.getElementById('house').value;
      var age = document.getElementById(age').value;                  

      googleForm.sendFormData({
      "entry.569960921": email,
      "entry.1429065566": player,
      "entry.203426834": house,
      "entry.93108700": "Other",
      "entry.559728966": age
      });      
          $("#submitbutton").html("<p>Thank you!</p>");
      return false;
      }
      </script>

          <h2>Sign Up</h2>

	  <p>
	  <form>
	    Email address: <br>
	    <input name="email" type="text" id="email" class="blacktxt">
	    <br>
	    Have you played bridge before? <br>
	    <input name="player" type="radio" id="player" class="blacktxt" value="Yes">Yes<br>
	    <input name="player" type="radio" id="player" class="blacktxt" value="No">No<br>
	    What is your Harry Potter house?<br>
	    <input name="house" type="radio" id="house" class="blacktxt" value="Hufflepuff">Hufflepuff<br>
	    <input name="house" type="radio" id="house" class="blacktxt" value="Slytherin">Slytherin<br>
	    <input name="house" type="radio" id="house" class="blacktxt" value="Gryffindor">Gryffindor<br>
	    <input name="house" type="radio" id="house" class="blacktxt" value="Ravenclaw">Ravenclaw<br>
	    How old are you?<br>
	    <input name="age" type="radio" id="age" class="blacktxt" value="Young gunz">Young gunz<br>
	    <input name="age" type="radio" id="age" class="blacktxt" value="Can legally drink">Can legally drink<br>
	    <input name="age" type="radio" id="age" class="blacktxt" value="Over the hill">Over the hill<br>
	    <input name="age" type="radio" id="age" class="blacktxt" value="Elderly/frail/etc.">Elderly/Frail/etc.<br>	    	    	    	    
	  </form>
	  </p>

                <ul class="list-inline banner-social-buttons">
                    <li>
                      <a class="btn btn-default btn-lg"
			 id="copyToClipboard"
			 onclick="doSomething()"
			 >
			<i class="fa fa-copy fa-fw"></i>
			<span class="network-name">Submit Form</span></a>
                    </li>

                </ul>


		<div id="submitbutton">
	  <a href="#bridge" class="btn btn-circle page-scroll"
	     id="exampleClick"
	     >
                            <i class="fa fa-angle-double-down animated"></i>
                        </a></div>
	  
        </div>
	</div>
    </section>
