    <!-- Download Section -->
    <section id="example" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Example Message</h2>
          <p>Hey,</p>

	  <p>Today, while I was drinking some earl grey tea and eating werther's originals, I was thinking it might be fun to learn how to play contract bridge (the card game).</p>

	  <p>So, I rolled up the sleeves of my cardigan, put in my dentures, and logged on to my dusty Windows 95 computer. Somebody is making this app to teach bridge to total noobs:</p>

	  <p>INSERT YOUTUBE CLIP</p>

	  <p>If I get three other people to RSVP to my bridge game, I get a free download of the app when it drops (this works for you, too).</p>

	  <p>To RSVP, forward or reply to this email and CC this address: (INSERT CC ADDRESS)</p>

	  <p>Cheerio</p>
		    <a href="#bridge" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
	  
        </div>
	</div>
    </section>
