    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Brudge</h1>
                        <p id="tagLine" class="intro-text">Like doing a crossword with three of your best friends.</p>
                        <a href="#about" class="btn btn-circle page-scroll"
			   id="mainClick"
			   >
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
