    <!-- Download Section -->
    <section id="more" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>More</h2>
                    <p>The hardest thing about bridge is getting people to play with you. Send an email to your friends, and CC INSERT EMAIL ADDRESS. If three of them forward on the message, you'll get a free download when the app hits the store, so you can start playing immediately.</p>
		    <a href="#example" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>

                </div>
            </div>
        </div>
    </section>
